{
  "swagger": "2.0",
  "info": {
      "version": "2018-08-14-preview",
      "title": "Users Resource",
      "description": "Azure Operations Management API reference for users created via custop providers"
  },
  "host": "management.azure.com",
  "schemes": [
      "https"
  ],
  "security": [
  ],
  "securityDefinitions": {
  },
  "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceproviders/{customrpname}/users/{username}": {
          "put": {
              "tags": [
                  "User"
              ],
              "operationId": "Users_PUT",
              "description": "Creates or updates a user resource",
              "parameters": [
                  {
                  "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "name": "resourceGroupName",
                      "in": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the resource group. The name is case insensitive.",
                      "pattern": "^[-\\w\\._\\(\\)]+$",
                      "minLength": 1,
                      "maxLength": 90
                  },
                  {
                    "name": "customrpname",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The name of the customrp.",
                    "minLength": 3,
                    "maxLength": 64
                },
                {
                    "name": "username",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The name of the user.",
                    "minLength": 3,
                    "maxLength": 64
                },
                  {
                  "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                  "name": "parameters",
                  "in": "body",
                  "required": true,
                  "schema": {
                  "$ref": "#/definitions/UserResource"
                  },
                  "description": "The user resource to create"
                  }
              ],
              "responses": {
                  "201": {
                      "description": "Created response definition. Resource has been created",
                      "schema": {
                          "$ref": "#/definitions/UserResource"
                      }
                  },
                  "200": {
                      "description": "OK response definition. Resource already exists and has not been changed",
                      "schema": {
                          "$ref": "#/definitions/UserResource"
                      }
                  },
                  "default": {
                      "schema": {
                          "$ref": "#/definitions/CodeMessageError"
                      },
                      "description": "Error response definition."
                  }
              },
              "produces": [
                  "application/json"
              ],
              "consumes": [
                  "application/json"
              ]
          },
          "delete": {
            "tags": [
              "User"
          ],
          "operationId": "Users_DELETE",
          "description": "Deletes a user resource",
              "parameters": [
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "name": "resourceGroupName",
                      "in": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the resource group. The name is case insensitive.",
                      "pattern": "^[-\\w\\._\\(\\)]+$",
                      "minLength": 1,
                      "maxLength": 90
                  },
                  {
                      "name": "customrpname",
                      "in": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the custom resource provider.",
                      "minLength": 3,
                      "maxLength": 64
                  },
                  {
                    "name": "username",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The name of the user to delete.",
                    "minLength": 3,
                    "maxLength": 64
                },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK response definition."
                  },
                  "204": {
                      "description": "OK resource was not found."
                  },
                  "default": {
                      "schema": {
                          "$ref": "#/definitions/CodeMessageError"
                      },
                      "description": "Error response definition."
                  }
              },
              "produces": [
                  "application/json"
              ],
              "consumes": [
                  "application/json"
              ]
          },
          "get": {
            "tags": [
                "User"
            ],
            "operationId": "Users_GET",
            "description": "Gets a user resource",
              "parameters": [
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "name": "resourceGroupName",
                      "in": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the resource group. The name is case insensitive.",
                      "pattern": "^[-\\w\\._\\(\\)]+$",
                      "minLength": 1,
                      "maxLength": 90
                  },
                  {
                      "name": "customrpname",
                      "in": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the custom resource provider.",
                      "minLength": 3,
                      "maxLength": 64
                  },
                  {
                      "name": "username",
                      "in": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the user.",
                      "minLength": 3,
                      "maxLength": 64
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK response definition.",
                      "schema": {
                          "$ref": "#/definitions/UserResource"
                      }
                  },
                  "default": {
                      "schema": {
                          "$ref": "#/definitions/CodeMessageError"
                      },
                      "description": "Error response definition."
                  }
              },
              "produces": [
                  "application/json"
              ],
              "consumes": [
                  "application/json"
              ]
          },
          "patch": {
            "tags": [
                "User"
            ],
            "operationId": "Users_PATCH",
            "description": "Creates or updates a user resource",
            "parameters": [
                {
                "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                    "name": "resourceGroupName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The name of the resource group. The name is case insensitive.",
                    "pattern": "^[-\\w\\._\\(\\)]+$",
                    "minLength": 1,
                    "maxLength": 90
                },
                {
                  "name": "customrpname",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the customrp.",
                  "minLength": 3,
                  "maxLength": 64
              },
              {
                  "name": "username",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the user.",
                  "minLength": 3,
                  "maxLength": 64
              },
                {
                "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                "name": "parameters",
                "in": "body",
                "required": false,
                "schema": {
                "$ref": "#/definitions/UserResource"
                },
                "description": "The user resource to create"
                }
            ],
            "responses": {
                "201": {
                    "description": "Created response definition. Resource has been created",
                    "schema": {
                        "$ref": "#/definitions/UserResource"
                    }
                },
                "200": {
                    "description": "OK response definition. Resource already exists and has not been changed",
                    "schema": {
                        "$ref": "#/definitions/UserResource"
                    }
                },
                "default": {
                    "schema": {
                        "$ref": "#/definitions/CodeMessageError"
                    },
                    "description": "Error response definition."
                }
            },
            "produces": [
                "application/json"
            ],
            "consumes": [
                "application/json"
            ]
          }
  }
  },
  "definitions": {
      "CodeMessageError": {
          "properties": {
              "error": {
                  "type": "object",
                  "properties": {
                      "code": {
                          "type": "string",
                          "description": "The error type."
                      },
                      "message": {
                          "type": "string",
                          "description": "The error message."
                      }
                  },
                  "description": "The error details for a failed request."
              }
          },
          "description": "The error body contract."
      },
      "UserResource": {
        "properties": {
            "location":{
                "type":"string",
                "description":"The Location of the parent resource"
            },
            "properties" :{
                "type": "object",
                "description":"The definition of a created user",
                "properties":{
                    "FullName": {
                        "type": "string",
                        "description": "THe Full Name of the user"
                    },
                    "Location":{
                        "type": "string",
                        "description": "The Location of the user"
                    }
                }
            
            }
        },
        "allOf": [
            {
                "$ref": "#/definitions/Resource"
            }
        ],
        "description": "A manifest file that defines the custom resource provider resources."
      },
      "Resource": {
          "properties": {
              "id": {
                  "readOnly": true,
                  "type": "string",
                  "description": "Resource Id"
              },
              "name": {
                  "readOnly": true,
                  "type": "string",
                  "description": "Resource name"
              },
              "type": {
                  "readOnly": true,
                  "type": "string",
                  "description": "Resource type"
              },
              "location": {
                  "type": "string",
                  "description": "Resource location"
              },
              "tags": {
                  "type": "object",
                  "additionalProperties": {
                      "type": "string"
                  },
                  "description": "Resource tags"
              }
          },
          "required": [
              "location"
          ],
          "description": "The resource definition."
      }
  },
  "parameters": {
      "SubscriptionIdParameter": {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
      },
      "ApiVersionParameter": {
          "name": "api-version",
          "in": "query",
          "required": true,
          "type": "string",
          "description": "Client Api Version."
      }
  }
}
